[2020-03-14 16:54] tschaffter opened #1 "Get references to two NLP methods mentioned by Justin G."
On Friday March 13, Justin G. mentioned two NLP methods that he would like Sage to deploy first in an EC2, then in an NCATS EC2. According to Justin, both method can be used using a CLI and web interface.

- [x] Find these two methods and list their resources (repos, documentation, papers, etc.)

[2020-03-14 17:02] tschaffter commented on #1
On March 13, Yao shared the following information about two NLP methods.

# Method 1: Deidentification

**Short description:** Automated de-identification of protected health information from electronic health records.

**Repository:** https://bitbucket.org/MCW_BMI/notes-deidentification/src/master/

# Method 2: UCSFPhilter

**Short description:** Philter is a command-line based clinical text de-i

[2020-03-14 17:03] tschaffter commented on #1
@yy6linda Who gave you the Box.com link (see above)?

[2020-03-14 17:22] tschaffter opened #2 "Create project resources"
The following resources will be used during the development of the NLP Sandbox.

- [x] GitHub repos: https://github.com/data2health/nlp-sandbox (this repos)
- [x] GitHub team: https://github.com/orgs/data2health/teams/nlp-team
- [x] GitHub project: https://github.com/orgs/data2health/projects/7
- [x] Google Folder: https://drive.google.com/drive/folders/1PpFItk7GNvIjbidFNiDHmOn7NHEbpHle
- [x] Slac

[2020-03-14 17:56] yy6linda commented on #1
Justin shared it with me. But the documents were removed already by people who created this link.

[2020-03-16 21:13] jaeddy commented on #1
The MCW tool/service also appears to live in GitHub:
https://github.com/jayurbain/ctsi-mcw-deid

**EDIT** Here's the MCW org, with what I assume are more "official" repos:
https://github.com/MCW-BMI

[2020-03-17 03:19] yy6linda commented on #1
Here is the link to the review of the two methods: https://docs.google.com/document/d/1xwebCoIt57iCYmmZFLfr96Da69-mD7Zepvsh1B0-Duc/edit

[2020-03-17 14:51] #2 closed

[2020-03-17 14:53] tschaffter commented on #1
Links to resources for these two tools have been successfully compiled in this ticket.

[2020-03-17 14:53] #1 closed

[2020-03-17 14:53] tschaffter opened #3 "Review Method 1: Deidentification"
Review Method 1: Deidentification

[2020-03-17 14:54] tschaffter opened #4 "Review Method 2: UCSFPhilter"
Review Method 2: UCSFPhilter

[2020-03-17 15:16] yy6linda commented on #4
Here is the review document. https://docs.google.com/document/d/1xwebCoIt57iCYmmZFLfr96Da69-mD7Zepvsh1B0-Duc/edit?usp=sharing

[2020-03-17 15:27] tschaffter opened #5 "Review documents on DeID work"
Initial documentation is located here:
- [Google Folder NLP Sandbox > Resources](https://drive.google.com/drive/u/0/folders/1QDFhi9crLdQ-1XmDnZWhEc9nzCGcuBJi)

## Tasks

- [x] Thomas to read these documents
- [x] Yao to read these documents

[2020-03-17 17:06] tschaffter commented on #3
Review: https://docs.google.com/document/d/1JX7eykr7Rt66I9BtTesA6SPGbmixRZokpRgbvQ8WpJo/edit

[2020-03-17 17:06] #3 closed

[2020-03-17 17:06] tschaffter commented on #4
Review: https://docs.google.com/document/d/1JX7eykr7Rt66I9BtTesA6SPGbmixRZokpRgbvQ8WpJo/edit

[2020-03-17 17:06] #4 closed

[2020-03-17 17:20] tschaffter opened #6 "Build ctsi_mcw_deid_Deidentification.jar"
https://github.com/jayurbain/ctsi-mcw-deid

[2020-03-17 17:26] tschaffter opened #7 "Review n2c2 2014 Challenge"
https://portal.dbmi.hms.harvard.edu/projects/n2c2-2014/

## Tasks

- [x] Identify the goal(s) of the challenge
- [x] Identify the scoring metrics applied
- Datasets
  - [x] Get a copy of the dataset files
  - [x] Review the content of the dataset (number of files, etc.)
- Submissions
  - [ ] Retrieve the submissions (may need to ask the organizers directly)
  - [x] Review the participation to the

[2020-03-17 17:31] tschaffter opened #8 "Compare the output of the two first NLP methods"
1. Identify whether both NLP methods considered so far can be applied to the dataset of the n2c2 2014 Challenge
2. If possible, apply both NLP methods on the same input from input dataset from n2c2 2014 Challenge
3. Compare the output of both NLP methods (e.g. deid clinical report shown side-by-side)

## Depends on

- #6

[2020-03-17 19:10] tschaffter commented on #6
I have created a fork of the above repo:
https://github.com/tschaffter/ctsi-mcw-deid

I have added instructions on how to build the jar build to the README.md. The jar build is available for download here:

https://drive.google.com/drive/u/0/folders/1QDFhi9crLdQ-1XmDnZWhEc9nzCGcuBJi

[2020-03-17 19:10] #6 closed

[2020-03-17 19:11] tschaffter opened #9 "Dockerize ctsi-mcw-deid.jar"
https://github.com/tschaffter/ctsi-mcw-deid

[2020-03-18 15:15] tschaffter opened #10 "Finalize README"
Template: https://github.com/data2health/nlp-review

[2020-03-18 15:45] tschaffter commented on #10
@jaeddy Do you want to do a pass on the README?

[2020-03-20 05:56] yy6linda commented on #7
**2014 i2b2 challenge:**

**The goal(s) of the challenge**
de-identification for clinical notes

**Submission**
For this challenge, there are two types of submission:
1.System output
2.Software: assessed by its useability(Evaluation of submitted software will be evaluated by the program committee on factors such as ease of installation and ease of use.)

**Evaluation** precision recall F1(scripts

[2020-03-20 14:59] tschaffter commented on #7
@yy6linda Are the submissions publicly available?

[2020-03-20 15:09] yy6linda commented on #7
Yes, every participant submitted a paper to summarize their models but code is not usually available.

[2020-03-20 15:21] tschaffter commented on #7
Is the list of papers available somewhere? If yes can put copy/paste the link to this page here?

[2020-03-20 15:45] yy6linda commented on #7
Access to the paper will be granted when access to data is approved. https://portal.dbmi.hms.harvard.edu/projects/n2c2-nlp/

[2020-03-20 15:56] tschaffter commented on #5
## Notes

### [iii.02 | NLP Sandbox - CD2H Phase III Project Proposal](https://docs.google.com/document/d/1S8LAtfgU6OitcSbPlKhKtvFxcIYQ-2t9Pw4EYlSBpRg)

### [iii.03 ML Sandbox Proposal-final](https://docs.google.com/document/d/18i5JV8ZO-ogJ-S9ogL7tgNo3kXHgTcyJxjvZpx1P-RI)

Timeline: Jan-Jun 2020

Motivation for requesting an NCATS EC2:

NLP de-identification methods is part of a larger repository

[2020-03-20 17:29] tschaffter opened #11 "Get access to n2c2 challenge datasets and submissions (requires to fill in DUA)"
https://portal.dbmi.hms.harvard.edu/projects/n2c2-nlp/

- [x] Thomas
- [x] Yao

[2020-03-23 17:19] #7 closed

[2020-03-23 17:20] tschaffter commented on #8
Results available in https://docs.google.com/presentation/d/1XHZM5q04y68STPmSn2d52F4arK9o5hf8p_4MDCLwFtY/edit

[2020-03-23 17:20] #8 closed

[2020-03-23 17:27] #5 closed

[2020-03-23 20:41] tschaffter commented on #11
Justin shared via email:

[2020-03-23 20:41] #11 closed

[2020-03-25 16:51] tschaffter opened #12 "Identify input and output data format for NLP deid methods"
Identify the file format of data given as input to NLP deid methods.

We have already looked at the n2c2 2014 Challenge (#7, #8). The organizers used XML format for input (to confirm) and output file.

## Depends on

- #18

## Input

Probably in JSON format (see below). This format would allow passing additional metadata or parameters to the NLP deid methods.

## Output

The output file (deid clin

[2020-03-25 16:54] tschaffter commented on #12
@yy6linda When you have a chance, can you get familiar with how the Metadata DREAM Challenge defines and use the data schema to validate the predictions files?

[2020-03-25 17:02] tschaffter opened #13 "Onboard developers of NLP deid methods"
Authors of NLP deid methods could provide valuable insights for the design of the continuous benchmarking project of NLP deid methods (e.g. format of input data, output data, information about computational resources needed to develop and run methods, etc.).

Suggested candidates:

- Bradley Taylor and George Kowalsky (De-identification X2)
- Jay Urbain (ctsi-mcw-deid, De-identification X2 may be

[2020-03-25 17:05] tschaffter commented on #13
We are meeting with Bradley and George tomorrow.

[2020-03-25 17:11] tschaffter opened #14 "Catalog public and private datasets for NLP methods"
Identify the datasets that can be used for the continuous benchmarking project.

## Public datasets

Links to public datasets or datasets available upon request (e.g. I2b2 NLP challenge) can be shared with developers who want to benchmark their method.

- [National NLP Clinical Challenges (n2c2)](https://portal.dbmi.hms.harvard.edu/projects/n2c2-2014/) (needs to agree with DUA)

## Private dataset

[2020-03-25 17:12] tschaffter commented on #14
@yy6linda Are there any additional datasets in mind that can be added to the above list?

[2020-03-25 17:17] tschaffter opened #15 "Get access to NCATS resources"
The reason we need access to an NCATS EC2 is to prepare an environment for the continuous benchmarking project that will have access to private datasets.

@yy6linda and @jguinney have already filled in a request form.

@tmdillon: You mentioned that some information were missing from the request form. Do you now have all the information needed?

[2020-03-25 19:52] tmdillon commented on #15
Thomas

Your request and several others are blocked by some CD2H-NCATS process / project management issues.   As soon as the issues get resolved I will let you know.
Tom

From: Thomas Schaffter <notifications@github.com>
Sent: Wednesday, March 25, 2020 12:18 PM
To: data2health/nlp-sandbox <nlp-sandbox@noreply.github.com>
Cc: Dillon, Tom <tmdillon@wustl.edu>; Mention <mention@noreply.github.com>
Su

[2020-03-25 22:00] tschaffter opened #16 "Define primary and secondary scoring metrics"
At least two metrics a required, the second being used as a tie breaker.

## Depends on

- #18
- #12

[2020-03-25 22:01] tschaffter commented on #16
@yy6linda Can you give a short description of the performance metrics used in the n2c2 2014 Challenge?

[2020-03-26 15:15] tschaffter commented on #16
https://github.com/MUSC-TBIC/etude-engine

[2020-03-26 15:46] tschaffter opened #17 "Draft SOP"
Draft to be reviewed in next meeting

[2020-03-27 20:05] tschaffter commented on #13
For Bradley and George

- [x] Give them access to CD2H NLP Slack channel
- [ ] Add them to the NLP GH team (must be added to CD2H GH organization)
- [x] Collect their contact information (spreadsheet in Google folder)
- [x] Give them write access to NLP Google project folder

[2020-03-27 20:06] tschaffter commented on #13
@tmdillon Bradley and George have filled in CD2H onboarding form. Will they be added automatically to CD2H GitHub Organization?

[2020-03-27 20:32] tschaffter commented on #10
@tmdillon Hi Tom, I have created a README for this project based on what I've seen on other CD2H GitHub repo. There are a few sections that still need to be completed, for example Project statement, Project description, etc. Should these sections be populated with reference content defined somewhere else? Thanks!

[2020-03-27 20:44] tschaffter opened #18 "Define scope of NLP deid methods"
Define the tasks that need to be performed by NLP deid methods in order to be benchmarked. This is equivalent to identifying the "Scientific question" when organizing a DREAM Challenge.

Here are some ideas/questions:
- Given raw text content, deidentify HIPAA information
- Should a method categorizes sensitive information (e.g. person, date, etc.). If yes, what are the definitions of the categori

[2020-03-27 20:47] tschaffter commented on #18
@BradleyTaylor @gkowalski What should be the tasks that NLP deid methods should solve? This may be obvious but this is just for the sake of getting everyone on the same page.

[2020-03-27 20:52] tschaffter commented on #14
@BradleyTaylor @gkowalski This ticket is about inventorize public and private datasets, starting with yours. Could you share here the name and links to datasets you know about?

**Important:** This is a public repository. Please do not post sensitive information.

[2020-03-27 21:09] tschaffter opened #19 "Access iEC Virtual Meeting recording"
Check if it's possible to get access to this recording (I saw the label "Recording" on during the meeting)

[2020-03-30 14:22] tmdillon commented on #13
Yes that should automatically get them GitHub access.  I will check on it to be sure.

Tom

From: Thomas Schaffter <notifications@github.com>
Sent: Friday, March 27, 2020 3:06 PM
To: data2health/nlp-sandbox <nlp-sandbox@noreply.github.com>
Cc: Dillon, Tom <tmdillon@wustl.edu>; Mention <mention@noreply.github.com>
Subject: Re: [data2health/nlp-sandbox] Onboard developers of NLP deid methods (#13)

[2020-03-31 19:01] #19 closed

[2020-04-01 13:55] gkowalski commented on #13
Tom,

I don't seem to be added According to my profile ( which shows that orgs I'm part of ) .

[2020-04-01 13:57] tmdillon commented on #13
Hi George – I’ll check on it.

From: George Kowalski <notifications@github.com>
Sent: Wednesday, April 1, 2020 8:55 AM
To: data2health/nlp-sandbox <nlp-sandbox@noreply.github.com>
Cc: Dillon, Tom <tmdillon@wustl.edu>; Mention <mention@noreply.github.com>
Subject: Re: [data2health/nlp-sandbox] Onboard developers of NLP deid methods (#13)

Tom,

I don't seem to be added According to my profile ( whi

[2020-04-03 16:03] yy6linda commented on #16
The i2b2 challenge used precision, recall and F1 score as the matrices for assessment. The gold standard is generated based on the annotation done by the data curator.

[2020-04-03 23:00] tschaffter commented on #12
Draft of data schema types for HIPAA information that we could ask methods to identify:
https://docs.google.com/spreadsheets/d/11yvXVI33MjO6JYBKMhHHGjQ9o72fIGHQlhLKX9CQG-8/edit#gid=0

[2020-04-07 05:24] yy6linda commented on #14
Name of the dataset | Current status | link
-- | -- | --
n2c2 2014: De-identification and Heart Disease Risk Factors Challenge | Requires DUA | https://portal.dbmi.hms.harvard.edu/projects/n2c2-2014/
N2c2 NLP research dataset | Requires DUA (accepted) | https://portal.dbmi.hms.harvard.edu/projects/n2c2-nlp/
Global rare disease registry | Tech issues with the application form(under fixing according

[2020-04-09 16:12] tschaffter commented on #14
### Update

@yy6linda

- Identify if the DUA accepted by Justin also covers the dataset `n2c2-2014`
- Deep dive into each of the above datasets to identify
  - The protocol used to annotate sensitive information
  - The format of the gold standard

[2020-04-10 16:36] tschaffter commented on #13
@tmdillon

George , Bradley and Yooree have not been added to the CD2H GitHub origanization yet. They have all filled in the onboarding form. How can we figure out what is blocking the onboarding process?

![image](https://user-images.githubusercontent.com/3056480/79006802-c6020080-7b0e-11ea-9189-e4f59d1816ff.png)

![image](https://user-images.githubusercontent.com/3056480/79006808-c9958780-7b0e-1

[2020-04-10 16:38] tschaffter commented on #9
George mentioned that he has another Docker image for his method that is built upon ctsi-mcw-deid. Closing this ticket as we currently don't need to dockerize ctsi-mcw-deid.jar.

[2020-04-10 16:38] #9 closed

[2020-04-10 16:59] tschaffter commented on #10
@tmdillon

The remaining sections to update on the README are:

- Problem statement
- Project description
- Deliverables

What is the CD2H document of reference that we should use to complete these sections? Thanks!

[2020-04-10 17:02] tschaffter commented on #17
## Update

Write an SOP that target the following Stakeholders:

- Data provider / entity responsible for evaluating submitted methods on internal data
- Developer of an NLP de-id method
- ?

[2020-04-14 14:10] tschaffter commented on #13
## Update

- Managed to add Yooree, George and Bradley (@btaylormcw) after contacting Andea Volz.

[2020-04-14 16:14] #13 closed

[2020-04-14 16:27] tschaffter commented on #15
## Update

- George had a meeting on April 13 with NCATS
  - Move NLP de-id method code base to CD2H GH repo?
  - Configure Jenkins integration on GH repo

[2020-04-14 16:38] tschaffter opened #20 "Dockerizing deid-mcw-service"

[2020-04-17 16:05] #16 closed

[2020-04-17 16:05] #18 closed

[2020-04-17 16:05] tschaffter commented on #20
No longer needed

[2020-04-17 16:05] #20 closed

[2020-04-24 15:51] yy6linda opened #21 "Evaluate mcw de-identification x2 method on 2014 i2b2 de-identification challenge dataset"

[2020-04-28 16:07] #14 closed

[2020-04-28 16:08] tschaffter commented on #15
@gkowalski has now access to the NCATS server

[2020-04-28 16:08] #15 closed

[2020-04-28 16:11] tschaffter opened #22 "Evaluate MCW method on 2014 i2b2 challenge dataset"

[2020-04-28 16:47] tschaffter commented on #22
- [x] Look at the goldstand and training sets for example of annotations (e.g. biometric ID). https://portal.dbmi.hms.harvard.edu/projects/n2c2-nlp/
- [x] Create a fork of George's method that generate predictions for 2014 i2b2 challenge for *Instance-level evaluation*
- [ ] Evaluate the performance of the prediction using scoring script provided by the organizers (https://portal.dbmi.hms.harvard.

[2020-04-28 16:50] tschaffter opened #23 "Map the 2014 i2b2 challenge annotations to our NLP data schema types"

[2020-04-28 16:51] tschaffter opened #24 "Define NLP De-id API"
- [x] Create GH repo
- [x] Seed it with George current implementation
- [ ] Add endpoints and models

[2020-04-29 16:00] tschaffter opened #25 "Define data schema for annotating NLP de-id datasets"
This data schema is being developed here: https://github.com/Sage-Bionetworks/nlp-deid-schema

[2020-04-29 16:02] tschaffter opened #26 "Update MCW method so that it uses the NLP de-id data schema"
## Depends on

- #25

[2020-04-29 16:02] tschaffter opened #27 "Update MCW method so that it uses the NLP de-id API"
## Depends on

- #24

[2020-04-29 16:04] tschaffter commented on #21
Duplicate of #22

[2020-04-29 16:04] #21 closed

[2020-04-29 17:34] gkowalski commented on #24
This was my first crack at an API to get the ball rolling : https://app.swaggerhub.com/apis-docs/gkowalski/test/1.0.0#/ Design was to meet the current MCW-DEID process which talks directly to a database . Moving the upload of patient data in a separate API Call  does make more sense.

[2020-04-29 22:54] tschaffter opened #28 "Deploy UCSF De-ID tool to NCATS"

[2020-04-30 15:03] tschaffter commented on #28
## Update

- Contacted Amit to request a status update on UCSF method deployment to NCATS

[2020-04-30 15:11] tschaffter commented on #10
Done

[2020-04-30 15:11] #10 closed

[2020-04-30 15:14] tschaffter commented on #17
## Update

- These slides provide an illustrated version of the SOPs for the different stakeholders
- Next step is to draft an initial version in a Google Doc

[2020-05-12 16:22] tschaffter commented on #22
## Update

- Each step of MCW program modifies the text and pass it to the next step
- Data detection and anonymization done at the same time, falsing the positions of sensitive data.

[2020-05-12 16:23] tschaffter commented on #24
https://github.com/data2health/nlp-deid-service-schemas

[2020-05-15 14:31] tschaffter opened #29 "Investigating the possibility to come up with a POC in five weeks"
Justin asked on May 14 to study the feasibility of implementing a proof of concept (POC) by end of Phase 3 (end of June, 6 weeks from now minus one where I'll be on vacation) as a new deliverable. The POC would be used to showcase the following features:

1. Evaluate MCW and Stanford University program on 2014 i2b2 de-id challenge dataset
2. **New!** Evaluate quality of dataset annotation using on

[2020-05-15 17:15] tschaffter opened #30 "Clarify date and dedliverables for end of Phase III"
- [x] Confirm with Justin
- [x] Confirm from Anita
- [x] Confirm with James FTE available

[2020-05-15 17:23] tschaffter opened #31 "Compile information about the NLP de-id methods submitted to the 2014 i2b2 challenge"
## Motivation

- Could be the second NLP de-id method that we evaluate in the NLP Sandox POC.
- Why this method? It will be interesting to compare the performance of MCW method to the performance of the best-performing method in the 2014 i2b2 challenge.

## Guidelines

- Create 2-3 slides that gather information relative to the best-performing method in 2014 i2b2 challenge (GH repo URL, descriptio

[2020-05-26 17:04] tschaffter opened #32 "Evaluate UCSF method on 2014 i2b2 challenge"
**Background**: Justin G. wants to evaluate the performance of UCSF method on 2014 i2b2 challenge.

- [ ] Add link to UCSF method here
- [ ] Generate predictions
- [ ] Evaluate the performance of the predictions

[2020-05-26 17:07] tschaffter opened #33 "Create NLP Sandbox Portal strawman"
- [ ] Create Figma project in Sage paid space
- [ ] Create strawman to illustrate the Use Cases identified (Developer, User, Data Hosting Site)

[2020-05-26 17:10] tschaffter commented on #30
The deliverables listed in [this Smartsheet](https://app.smartsheet.com/sheets/hJ6RjcPfr6Jp6q6jHqX6jr7hxHW29PRj35rv6pq1) have been approved by @jaeddy and @jguinney.

[2020-05-26 17:10] #30 closed

[2020-05-26 17:13] tschaffter commented on #29
We have settled on providing a Figma strawman that illustrates the [Use Cases](https://docs.google.com/presentation/d/1qj4b7G9jMevZFMrnJY6HDYSgaOGGpEJ-RRZIT_8frPM) identified.

[2020-05-26 17:13] #29 closed

[2020-05-26 17:15] tschaffter opened #34 "Dockerize UCSF program"
- [x] Yao to fork UCSF program GH repo
  - https://github.com/yy6linda/philter-ucsf
- [ ] Add Dockerfile to dockerize UCSF program
- [ ] Push Docker image to Sage DockerHub repo

[2020-05-26 17:16] tschaffter opened #35 "Add support for HTTPS to MCW web app"
The web service is currently available at http://notes-deid.cd2h.org/ctsi-mcw-deid-service/.

[2020-05-26 17:25] tschaffter opened #36 "Fix performance issue of MCW web app"
The web service is currently available at http://notes-deid.cd2h.org/ctsi-mcw-deid-service/.

- The first time loading the page on a browser may take ages.
  - Based on Figure 1, most requests are blocked for some time (dark red)
  - The timeline does not seem right as it took at least 5s to load the page

![image](https://user-images.githubusercontent.com/3056480/82930998-1b696400-9f3b-11ea-9604-

[2020-06-11 17:11] tschaffter commented on #34
The `Dockerfile` has been pushed to https://github.com/data2health/philter-ucsf

[2020-06-11 17:11] #34 closed

[2020-06-22 04:24] tschaffter opened #37 "Investigate NLM-Scrubber"
https://scrubber.nlm.nih.gov/

[2020-07-25 13:37] tschaffter opened #38 "Review Amazon Comprehend Medical"
https://aws.amazon.com/comprehend/medical/

[2020-07-25 13:42] tschaffter commented on #36
@gkowalski Is this task still active? If not I'll close this ticket. I'm expecting that we will soon be able to put in place another demo that leverage infrastructure and standards developed in this project. At this point, the demo http://notes-deid.cd2h.org/ctsi-mcw-deid-service/ would no longer be needed.

[2020-07-25 13:45] tschaffter commented on #35
@gkowalski Is this task still active? If not I'll close this ticket. I'm expecting that we will soon be able to put in place another demo that leverage infrastructure and standards developed in this project. At this point, the demo http://notes-deid.cd2h.org/ctsi-mcw-deid-service/ would no longer be needed.

[2020-07-25 13:47] tschaffter commented on #17
The required document for the end of Phase III have been submitted.

[2020-07-25 13:47] #17 closed

[2020-07-25 13:50] tschaffter opened #39 "Review NLP resources shared by Mayo Clinic"
The following links have been shared by Sijia Liu.

- [x] [MedTagger COVID 19 Demo](http://167.114.144.164/#)
- [x] https://github.com/OHNLP/MedTagger
- [x] https://github.com/OHNLP/BAckbone
- [x] https://github.com/OHNLP/MedTime

[2020-07-25 13:58] tschaffter opened #40 "Release NLP Sandbox Architecture: July Update"
Additional slides to https://bit.ly/cd2h-nlp-sandbox:

- Describe the protocol adopted by hospital to de-id notes (from researcher request to the hospital returning de-id notes)
- Describe idea and advantages of modular implementation of NLP methods
- Describe two NLP tasks and draft of their specifications: Person name detection and date detection
- Describe what the CD2H NLP DREAM Challenge coul

[2020-07-29 03:02] tschaffter commented on #36
Closing because no activity since end of May.

[2020-07-29 03:02] #36 closed

[2020-07-29 03:02] tschaffter commented on #35
Closing because no activity since end of May.

[2020-07-29 03:02] #35 closed

[2020-07-29 03:06] tschaffter commented on #31
@yy6linda What we need is a spreadsheet that lists the methods submitted to the 2014 i2b2 NLP de-id challenge with the following information.

- Name of the method
- URL to the source code of the the method
- Email of one of the authors
- Performance of the method in the i2b2 challenge

The information included in this spreadsheet will be very useful to invite these authors when we launch the NLP

[2020-07-29 03:08] tschaffter commented on #27
@gkowalski Closing this issue as it's too general and we don't have yet the specification for the input and output that we would like NLP de-id methods to implement.

[2020-07-29 03:08] #27 closed

[2020-07-29 03:09] tschaffter commented on #33
This task is no longer needed. Synapse will be used to launch the NLP DREAM Challenge. Down the road, this challenge will be moved to the new challenge platform developed by Sage.

[2020-07-29 03:09] #33 closed

[2020-07-29 03:10] tschaffter commented on #26
@gkowalski Closing this issue as it's too general and we don't have yet the specification for the input and output that we would like NLP de-id methods to implement.

[2020-07-29 03:10] #26 closed

[2020-07-29 03:11] tschaffter commented on #25
This task has now become too broad. It will be replaced by smaller and more descriptive tasks.

[2020-07-29 03:11] #25 closed

[2020-07-29 03:12] tschaffter commented on #24
This task has become too broad. It will be replaced by smaller and more descriptive tasks.

[2020-07-29 03:12] #24 closed

[2020-07-29 03:15] tschaffter commented on #23
## Update

- We are in the process of identifying schemas for PHIs included in clinical note. The PHIs in the 2014 i2b2 challenge are used as a reference, so the mapping should be straightforward.

[2020-07-29 03:17] tschaffter commented on #22
This is an ongoing task that @gkowalski is performing as he improve MCW method, Cantata. This task will be "completed" once we have launched the NLP DREAM Challenge and @gkowalski will have submitted Cantata for evaluation.

Closing because there is no longer a need to track the progress on this task.

[2020-07-29 03:17] #22 closed

[2020-07-29 03:18] tschaffter commented on #12
This task has become to broad. It will be replaced by smaller and more descriptive tasks.

[2020-07-29 03:18] #12 closed

[2020-07-29 03:22] tschaffter opened #41 "Review Google de-identification services"
- [Google Cloud: Data de-identification](https://cloud.google.com/healthcare/docs/concepts/de-identification)
- [Google Cloud: De-identifying FHIR data](https://cloud.google.com/healthcare/docs/how-tos/fhir-deidentify)

This services can provide valuable information on the design of NLP de-id methods.

## Questions

- Is their de-id algorithm described somewhere?
- Is the source code available?
-

[2020-07-29 03:28] tschaffter commented on #37
@gkowalski Could you review this method and share with Yao and I:

- How this method work
  - What information does this method relies on (useful to the design of our input specifications)
  - What is the format of the output (useful to the design of or output specifications)
- How does it differ from your method

[2020-07-29 03:33] tschaffter opened #42 "Complete introduction to JSON Schema"
The goal of this ticket is for Yao and I to become familiar with JSON Schema.

Material to review:

- Home page of https://json-schema.org/
- https://json-schema.org/understanding-json-schema/index.html

Check the box once the above material as been reviewed.

- [x] Thomas
- [x] Yao

[2020-07-29 03:41] tschaffter opened #43 "Finalize Git workflow SOP"
This document (draft) provide an SOP on how to contribute to the development of the NLP schemas.

[NLP Sandbox: Git workflow SOP](https://docs.google.com/document/d/1LCC2RDnNWqylO6rGhxeanG4FJdA9nmfNi9YeWl-YBTA/edit#heading=h.diiwkih5yo2a)

[2020-07-29 04:05] tschaffter opened #44 "Create NLP DREAM Challenge project in Synapse"
Create Teams and projects (production and staging).

Additional tasks will be created to track the progress of adding content.

[2020-07-29 14:34] tschaffter opened #45 "Add schema validator tool"
- [x] Add python validator tool
- [x] Add GitHub Action to automatically dockerize the tool

[2020-07-29 17:50] tschaffter commented on #38
## Resources

- [AWS re:Invent 2019: Insights into patient health with Amazon Comprehend Medical (video)](https://youtu.be/x9HD0tT6pDk)
- [AI-Powered Health Data Masking (AWS Solution with code)](https://aws.amazon.com/solutions/ai-powered-health-data-masking/)
- [Extract and visualize clinical entities using Amazon Comprehend Medical (stack)](https://aws.amazon.com/blogs/machine-learning/extract-

[2020-07-29 18:06] tschaffter commented on #39
## MedTagger COVID 19 Demo

- Demo Web UI that takes as input a note and detects concepts from a small, custom list of concept.
- Detection rules are implemented in [OHNLP/MedTagger](https://github.com/OHNLP/MedTagger/tree/master/src/main/resources/medtaggerieresources/covid19).

## OHNLP/MedTagger

- Command-line JAR executable that process notes stored in an input folder.
- [Video tutorial (end

[2020-07-29 21:12] #39 closed

[2020-07-30 00:01] tschaffter commented on #45
The validation tool written in Python is available [here](https://github.com/data2health/nlp-service-schemas/tree/develop/schema/tools).

[2020-07-30 00:01] #45 closed

[2020-07-30 00:10] tschaffter opened #47 "Create example schema for PHI using JSON-LD"

[2020-07-30 00:19] tschaffter commented on #44
[code]

[2020-07-30 00:19] #44 closed

[2020-07-30 00:25] tschaffter opened #48 "Upload processed i2b2 dataset to Synapse"

[2020-07-30 03:36] tschaffter commented on #48
2014 i2b2 nlp data have been converted to text format and upload the a private folder on Synapse.

[2020-07-30 03:36] #48 closed

[2020-07-30 04:18] tschaffter commented on #47
## Resources

- https://search.google.com/structured-data/testing-tool
- [JSON-LD Tutorials (YT playlist)](https://www.youtube.com/watch?v=eWtOg3vSzxI&list=PLxEsMPV549kihG7sCVnxjqln7MFkJQ7vC&index=1)

[2020-07-30 13:23] gkowalski commented on #37
Where should I document this ? I have my review completed in a Google Doc.

[2020-07-30 21:13] tschaffter commented on #37
The review is available as a Google doc [here](https://docs.google.com/document/d/16n3zfYzIt-GeuC0udjqScsUYvnNp8uucoMffmA9KheM/edit?ts=5f2320e8).

[2020-07-30 21:13] #37 closed

[2020-08-17 20:25] tschaffter opened #49 "Review two annotation tools used by Mayo Clinic"
Justin said:

- [ ] https://brat.nlplab.org/
- [ ] http://keighrim.github.io/mae-annotation/

## Task

- Most importantly we are interested in identifying the ontology / data schema used by these two tools to annotate clinical notes.
- Create 2-5 slides that summarize how each method work

[2020-08-19 01:25] tschaffter opened #50 "Create a DB+API stack that exposes the i2b2 dataset"
This stack will be used to feed the i2b2 data to the NLP methods submitted to the NLP Sandbox.

Workflow:

1. An agent deploys an NLP service to evaluate it
2. The agent contact the dataset API to get the i2b2 data
3. The agent sends the i2b2 data to the NLP service
4. The NLP service process the data and sends back a response for each request received
5. The agent compare the ground truth (found

[2020-08-19 01:28] #42 closed

[2020-08-25 14:20] gkowalski commented on #50
Loading of data was checked in yesterday.

[2020-08-28 17:16] tschaffter opened #51 "Remove unused GitHub repositories"
The repositories checked below are no longer needed and must be removed.

## All repositories

- [ ] data2health/nlp-sandbox (used to track general tasks)
- [x] data2health/nlp-deid-service-schemas (marked for removal; first save LD-JSON contribution from Milen)
- [x] data2health/nlp-sandbox-data-node-schemas (marked for removal; first copy content to data2health/nlp-sandbox-schemas)
- [ ] data2he

[2020-09-01 04:53] tschaffter opened #52 "Review Large Scale Ensembled NLP Systems with Docker and Kubernetes"
I've came across this repo created by Sijia Liu (Mayo Clinic), who recently joined our NLP Sandbox Task Team. This repo may give us ideas for the design and implementation of the NLP Sandbox infrastructure.

https://github.com/ymnliu/AMIA19_W22_large_scale_nlp

@thomasyu888 Can you have a look?

[2020-09-01 05:26] tschaffter opened #53 "Create document with specifications of the infrastructure"
- Investigate the submission format: docker-compose.yml? JSON object? other?
- Identify how we validate a submission: validate API endpoints? check docker-compose configuration?
- Specify security strategy
- Etc.

[2020-09-01 05:27] tschaffter opened #54 "Is it possible to run Docker stack wither inter connectivity but no access to the Internet?"

[2020-09-01 05:50] tschaffter opened #55 "Advertise pre-registration to the NLP Sandbox"
- LinkedIn post
- Tweets on Sage account

[2020-09-01 15:04] tschaffter opened #56 "Review EMERSE"
Tom Dillon contact me to connect me with David Hanauer from the University of Michigan.

## Task

- Review the documentation and demo available on EMERSE website
- Summarize important information about EMERSE on 3-5 slides

[2020-09-03 17:15] tschaffter commented on #51
@tmdillon I would like to delete the following THREE repositories that I have created but that are no longer needed. This is part of an effort to keep our GH environment clean.

- https://github.com/data2health/nlp-sandbox-data-node-schemas
- https://github.com/data2health/nlp-service-schemas
- https://github.com/data2health/nlp-deid-service-schemas

As a an Organization member of `data2health`, I

[2020-09-04 03:42] tschaffter opened #57 "Update MCW logo in the banner"
Then place the image in the shared G Drive.

[2020-09-04 03:46] tschaffter commented on #41
Will be assigned to @cascadianblue once he accepts my invite to join this repo.

[2020-09-04 04:55] tschaffter commented on #57
The banner has been updated on the pre-registration page.
The source and PNG files of the banner are available in the shared G Drive [here](https://drive.google.com/drive/u/0/folders/1irwZ8Lb56cHj-MAqm-w-fDl0F8wYmlx1).

[2020-09-04 04:55] #57 closed

[2020-09-08 17:36] tschaffter commented on #31
@yy6linda uploaded the review of the best performaing method (Hui Yang et al. (2015) method) to the shared Google drive:
https://docs.google.com/presentation/d/1DyUefegslXtK9RfRScyCcKy0UkwLaLrp

[2020-09-08 22:15] tschaffter commented on #55
## September 1st, 2020

- Advertised in September's CD2H All Hands Bulletin

[2020-09-10 19:31] tschaffter opened #58 "Review CLAMP"
https://clamp.uth.edu/

[2020-09-12 16:13] tschaffter opened #59 "Identify feasability of creating gold standard for date format in the 2014 i2b2 dataset"
## Motivation

Benchmark the ability of Date Annotators to identify the format of a date string (ISO 8601)

## Tasks

- [ ] Compile some stats about date occurrences in the training and evaluation set of the i2b2 dataset
- [ ] Evaluate the rate at which we could manually annotate the date format
- [ ] Create 2-3 slides that describes a protocol to annotate the date format

[2020-09-12 16:27] tschaffter opened #60 "Prepare codebase for evaluator"
## Motivation

Create a python program that evaluates the performance of an NLP Tool.

## Background

For the NLP Tasks considered (annotation tasks), we will use the same performance metrics as in the 2014 i2b2 NLP de-identification challenge. These metrics are Precision, Recall and F1 computed for different evaluation cases (e.g. instances, tokens, accepting that the last character is wrong)

Th

[2020-09-12 16:35] tschaffter opened #61 "Create initial codebase of the date annotator example"
## Motivation

- Provide an example implementation of a date annotator to users of the NLP Sandbox
- Have an implementation handy that we can use during the development of the submission infrastructure

## Task

- [x] Create the GH repo that will include the codebase (https://github.com/data2health/nlp-sandbox-date-annotator-example)
- [x] Populate the repo with an initial implementation in python

[2020-09-12 16:39] tschaffter opened #62 "Create slides that describes the three designs considered for submission infrastructure"
## Motivation

Communicate efficiently to strengths and weaknesses of each designs

## Task

- [ ] Create slides that describes the Design 1
- [ ] Create slides that describes the Design 2
- [ ] Create slides that describes the Design 3

[2020-09-12 16:41] tschaffter commented on #23
## Update

This task is now divided into smaller tasks as we are developing the OpenAPI specification for each NLP Tasks like date annotation, person name annotation, etc.

[2020-09-12 16:41] #23 closed

[2020-09-12 16:51] tschaffter commented on #32
## Update

- We have create a fork of UCSF de-id tool called Philter so it works with Python 3.x (https://github.com/data2health/philter-ucsf)
- We have applied Philter to the 2014 i2b2 dataset and evaluated its performance using the i2b2 evaluation script(https://github.com/tschaffter/i2b2_evaluation_scripts). The current implementation only generates predictions for the categories DATE and OTHER

[2020-09-12 16:51] #32 closed

[2020-09-12 16:53] tschaffter commented on #40
## Update

- Still working on adding more content, currently presenting slides as they are added.
- I will attempt to organize the slides and releases them more broadly once we have identified the infrastructure design we are implementing

[2020-09-12 16:59] tschaffter opened #63 "Create an OpenAPI spec for a Submission API"
## Motivation

The API should offer the following actions:

- submit an NLP tool for evaluation
- retrieve the status of a given submission
- retrieve the information required to display results in a GH badge (pass/fail, rank, performance metrics)

[2020-09-13 23:01] tschaffter commented on #59
## Information about the DATE annotations

- The evaluation set has 4980 date annotations from 514 notes (100%)
- The training set has 7495 date annotations from 790 notes (100%)

Total: 12475 date annotations

## ISO  8601 and beyond

[Momentjs](https://momentjs.com/docs/#/parsing/string/)

[List of format](https://momentjscom.readthedocs.io/en/latest/moment/04-displaying/01-format/)

[2020-09-15 15:59] ymnliu commented on #49
A brief introduction can be found at https://docs.google.com/presentation/d/1h86gCmVVmtq4FbBCXXYyE38tMCoOJwyNc42VmAmKf3E/edit?usp=sharing

[2020-09-15 15:59] #49 closed

[2020-09-16 03:08] tschaffter commented on #38
@cascadianblue If you have time, would you also like to have a look at Amazon Comprehend Medical? I've listed a few resources of interest above.

[2020-09-24 13:47] tschaffter commented on #41
Tutorial is available [here](https://github.com/Sage-Bionetworks/nlp-sandbox-analysis/wiki/Google-Healthcare-API)

[2020-09-24 13:47] #41 closed

[2020-09-24 13:49] tschaffter commented on #50
## Update

We have an early version of a [data node that exposes 2014 i2b2 data](https://github.com/data2health/nlp-sandbox-data-node-i2b2-2014) (clinical notes and annotations).

[2020-09-24 13:54] tschaffter commented on #59
## Update

- I've identified that we can annotate the date format. Will move forward with the annotation.

[2020-09-24 13:56] tschaffter commented on #61
## Update

- We have an early version of a [date annotator service](https://github.com/data2health/nlp-sandbox-date-annotator-example)
- I will take care of writing the doc for this first service

[2020-09-30 18:10] tschaffter commented on #51
## Update

Connor Cook changed the CD2H GitHub Org settings to allow users to delete repositories for which they have admin access.

I was then able to successfully remove the repos:

- data2health/nlp-sandbox-data-node-schemas
- data2health/nlp-service-schemas
- data2health/nlp-deid-service-schemas

[2020-09-30 18:13] tschaffter commented on #51
Done

[2020-09-30 18:13] #51 closed

[2020-09-30 18:15] tschaffter commented on #31
Here is the [Google folder](https://drive.google.com/drive/u/0/folders/14DJ9x9hko2LyY2VYuplftCSoWQLBosRd) that includes the three presentations from Yao.

[2020-09-30 18:15] #31 closed

[2020-09-30 18:18] tschaffter commented on #40
This ticket is now out dated. A new deck of slides that we can share with the community will be ready shortly before the launch of the NLP Sandbox in late October.

[2020-09-30 18:18] #40 closed

[2020-09-30 18:20] tschaffter commented on #43
We are currently using Git flow. We are doing fine without a written version of the SOP on the repositories George and I are working with. Properly configuring the repositories (protecting branches, automatically removing branches used in PR, etc.) helps to keep a clean environment.

[2020-09-30 18:20] #43 closed

[2020-09-30 18:23] tschaffter commented on #47
Now that I understand better how schemas works, I realize that we don't need a JSON-LD schema at this point. Using the OpenAPI schemas is all we need for the development of web services. Maybe a JSON-LD or Schema.org schema could be used in the future to validate data before storing them in a DB (e.g. data nodes).

[2020-09-30 18:23] #47 closed

[2020-09-30 18:25] tschaffter commented on #50
Done! We largest part of the work is done as we can use the API server + DB to query clinical notes and date annotations. There's still work to improve the performance and security of the service, as well as support other types of annotations. This work is tracked efficiently in the GH repo of the data node.

https://github.com/data2health/nlp-sandbox-data-node-i2b2-2014

[2020-09-30 18:25] #50 closed

[2020-09-30 18:34] tschaffter commented on #61
An example implementation of the date annotation service is available here:
https://github.com/data2health/nlp-sandbox-date-annotator-example

There are still improvements that we can make but those are tracked in the above GH repo.

[2020-09-30 18:34] #61 closed

[2020-10-02 14:43] tschaffter opened #64 "Evaluate the performance of Google de-id service for the date annotation task"
As we are nearing the launch of the NLP Sandbox, I like us to evaluate the performance of Google service in a few of our benchmarking categories. The first category that we are going to support is the benchmarking of methods that can detect "Dates" (e.g. "27/09/2010", "2010-09-27", "Monday", etc.) in clinical notes. At launch time, we would then display the performance of Google service in the lea

[2020-10-02 15:17] tschaffter commented on #64
@cascadianblue

Correct, we don't need to get this information from Google. We only want the location of the date string in the text.

This sounds like a good strategy. We should be able to then use it to evaluate the performance of Google de-id service to detect person names - though we are currently not able to provide a patient object (not available in our dataset) to Google along the clinical

[2020-10-02 15:34] ymnliu commented on #56
Hi @tschaffter, when would you need this?

[2020-10-02 15:37] ymnliu commented on #58
Hi @tschaffter, do you think it is a good idea to have their sales team to present to us? Through them we can get first-hand and most up-to-date information.

[2020-10-02 15:41] tschaffter commented on #56
Either this Tuesday or next Tuesday would be great

[2020-10-02 15:43] tschaffter commented on #58
That's a good idea. Let's start with a brief internal review from the information available on their website, then we can decide if we are interested in setting up a call with them.

[2020-10-02 15:54] ymnliu commented on #58
Sounds great. How about CLAMP on 10/6 and EMERSE on 10/13?

[2020-10-02 15:57] tschaffter commented on #58
Sounds good, thanks!

[2020-10-10 03:24] tschaffter commented on #58
Done

[2020-10-10 03:40] #56 closed

[2020-10-11 05:11] tschaffter commented on #56
@ymnliu Did you present EMERSE or CLAMP last Tuesday?

[2020-10-13 15:08] ymnliu commented on #56
@tschaffter I reviewed EMERSE last week. I will go over CLAMP shortly.

[2020-10-13 15:10] tschaffter commented on #58
I confused the review of CLAMP and EMERSE that has been covered last week.

[2020-12-11 22:38] boyleconnor commented on #38
@tschaffter I think we finished this one off, right?

[2020-12-11 22:39] boyleconnor commented on #64
@tschaffter this one is done, right?

[2020-12-11 23:18] #38 closed

[2020-12-11 23:19] tschaffter commented on #64
Yes, thanks!

[2020-12-11 23:19] #64 closed